.footer {
	height:643px;

	&-content {
		margin:150px 170px 50px 100px;
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		align-content:space-between;
		&__data {
			@include font(normal, 13px, #333, 14px);
			text-transform: uppercase;
			.adress {
				margin-bottom:20px;
			}
		}
		.brand_no-padding {
			padding:0;
		}
		.copyright {
			@include font(normal, 12px, #191919, 21.6px);
			margin-top:80px;
			margin-left:13px;
		}
	}
}

.map {
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    filter: gray;
}